*{
    margin: 0 0 10px;
    padding: 0;
    font-family: "montserrat",sans-serif;
}
body{
  background-image: linear-gradient(rgba(54, 54, 54, 0.432),rgba(51, 50, 50, 0.281)),url(gambar/Background.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-bottom: 50px;
    font-family: sans-serif;
}
/*Navigasi*/
.header{
  height: 100px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}
.menu{
  float: right;
  line-height: 100px;
  z-index: 9999;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn {
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}
#chk{
  position: absolute;
  visibility: hidden;
}

/*@media screen and (max-width:800px){
    .show-menu-btn,.hide-menu-btn{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }*/
.gbrkonten{
  width: 60%;
}
.konten{
  padding: 7px;
  width: 90%;
  height: auto;
  background-color: white;
  margin-top: 120px;
  border-radius: 10px;
  margin-left: 70px;
  opacity: 0.8;
  flex-direction: row;
  display: flex;
}
.isikonten{
  background-color: #006699;
  width: 90%;
  height: 60%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
  opacity: 10.9;
  text-align: left;
  color: black;
  border-radius: 13px;
}
.gambar{
  width: 20%;
}
.pilian{
   background-color: blue;
   float: left;

 /* margin-left: 50%;*/
 width: 15%;
  height: 10%;*/
  /*transform: translate(-50%,50%);*/
  /*opacity: 0.9;*/

}*/
.menu1{
  background-color: blue;
}
.wrapper {
  margin: 10px auto 0;
  width: 100%;
  max-width: 680px;
  padding: 20px;
  box-sizing: border-box;
}
.air{
  text-align: center;
  margin-left: 90px;
}